      .libellee{
        font-family: Cambria;
        letter-spacing: 5;
        margin-top: 5%;
        font-size: 25px;
        font-weight: bold;
        margin-left: 26%;
      }
  
      .choix1{
        display: flex;
      }
  
      .c1{
        font-family: Cambria;
        color: black;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        margin: 5% 15% 0% 25%;
        background-color: rgb(146, 140, 133);
        padding: 16px 22px 8px 22px;
        border-radius: 20%;
      }
  
      .recherche{
        font-family: Cambria;
        color: black;
        text-decoration: none;
        font-size: 30px;
        margin: 4% 0% 0% 0%;
        background-color: rgb(146, 140, 133);
        padding: 25px 50px;
        border-radius: 20px;
      }
  
      .c1:hover{
        background-color: rgb(139, 139, 253);
      }
  
      .recherche:hover{
        background-color: rgb(139, 139, 253);
      }
  
      .choix2{
        display: flex;
        margin-top: 4%;
      }
  
      .depot{
        font-family: Cambria;
        color: black;
        text-decoration: none;
        font-size: 30px;
        margin: 4% 0% 0% 0%;
        background-color: rgb(146, 140, 133);
        padding: 25px 80px;
        border-radius: 20px;
      }
  
      .depot:hover{
        background-color: rgb(139, 139, 253);
      }