.blocprincipal{
    background-color: rgb(177, 177, 126); 
    font-family: Cambria;
    margin: 24px 250px;
    padding: 6px 0px;
}

.profile_user{
    background-color: white;
    width: 60px;
    padding: 1px;
    border-radius: 50%;
}

.username{
    margin-top: 2px;
    font-style: italic;
}

.form-control{
    width: 400px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    padding-left: 15px;
    font-size: 17px;
    background-color: aliceblue;
    font-family: cambria;
}

.libelle{
    font-size: large;
}
