{% include 'base.html' with profile="admin/profile" home="admin" %}
{% load static %}
<link rel="stylesheet" href="{% static 'admin_home.css' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">
<main>

    {% block content %}

    <div class="libellee">Que voulez-vous faire ?</div>

    <div class="block">
      <div class="choix1">
        <a href="{% url 'application_web_aky:rechercher' %}" class="c1">1</a>
        <a href="{% url 'application_web_aky:rechercher' %}" class="recherche">Rechercher un mémoire</a>
      </div>
  
      <div class="choix2">
        <a href="{% url 'application_web_aky:autoriser' %}" class="c1">2</a>
        <a href="{% url 'application_web_aky:autoriser' %}" class="depot">Autoriser un dépôt</a>
      </div>
   </div>

   {% endblock %} 

  </main>

  {% include 'footer.html' %}