{% include 'base.html' with profile="/aky/admin/profile" home="admin" %}
{% load static %}

<style>
  .libellee {
  margin: 0px auto;
  text-align: center;
  margin-top: 60px;
  letter-spacing: 1;
  font-size: 40px;
}

.block {
  margin: 5rem auto;
  margin-left: 10px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-items: center;
}

.choix1,
.choix2 {
  grid-column: span 2;
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.c1 {
  grid-column: span 1;
  color: black;
  text-decoration: none;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background: rgb(146, 140, 133);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recherche,
.depot {
  color: black;
  text-decoration: none;
  font-size: 30px;
  padding: 5px 10px;
}

.c1:hover {
  background-color: rgb(139, 139, 253);
}

.recherche:hover,
.depot:hover {
  background-color: rgb(139, 139, 253);
  border-radius: 5px;
  width: 100%;
}
</style>
<main>

    {% block content %}

    <div class="libellee">Que voulez-vous faire ?</div>

    <div class="block">
      <div class="choix1">
        <a href="{% url 'application_web_aky:rechercher' %}" class="c1">1</a>
        <a href="{% url 'application_web_aky:rechercher' %}" class="recherche">Rechercher un mémoire</a>
      </div>
  
      <div class="choix2">
        <a href="{% url 'application_web_aky:autoriser' %}" class="c1">2</a>
        <a href="{% url 'application_web_aky:autoriser' %}" class="depot">Autoriser un dépôt</a>
      </div>
   </div>

   {% endblock %} 

  </main>

  {% include 'footer.html' %}