{% include 'base.html' with profile="/aky/admin/profile" home="/aky/admin" %}
{% load static %}
<link rel="stylesheet" href="{% static 'autoriser.css' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">

  <main>
    {% block content %}

    <p class="texte">Liste des étudiants</p>

    <form action="autoriser" method="POST" style="font-family:Cambria; font-size: 17px;">
      {% csrf_token %}
      {% for etudiant in etudiants %}
           {% if etudiant.deposer == True %}
           <input  style="margin: 20px 0px 0px 410px;" type="checkbox" id="{{etudiant.nom}} {{etudiant.prenoms}}" name="user_id" value="{{etudiant.user_id}}" checked>
           {% else %}
           <input style="margin: 20px 0px 0px 410px;" type="checkbox" id="{{etudiant.nom}} {{etudiant.prenoms}}" name="user_id" value="{{etudiant.user_id}}">
           {% endif %}
      <strong style="font-weight: normal; word-spacing: 20;" >
        <label for="{{etudiant.nom}} {{etudiant.prenoms}}">{{ etudiant.no_carte }} {{ etudiant.nom }} {{ etudiant.prenoms }}</label><br><br>
      </strong>

      <p style="border: 1px solid silver; margin: 0% 30%;"></p>

      {% endfor %}
      <center>
        <input type="submit" value="Valider" style="margin-top: 2%; padding: 8px 40px; font-family: Cambria; font-size: 17px; background-color: black; color: whitesmoke; border-radius: 10px; border: none;">
      </center>
    </form>

    {% endblock %}
  </main>

  {% include 'footer.html' %}