{% include 'base.html' with profile="/aky/etudiant/profile" home="/aky/etudiant" %}
{% load static %}
<link rel="stylesheet" href="{% static 'depot.css' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">

  <main>
         
    {% block content %}
    
    <div class="container-fluid">

          <h2 style="text-align: center; ">Veuillez remplir le formulaire de depôt ci-dessous !</h1>
          
          {% for message in messages %}
               <div class='error'>{{ message }}</div>
          {% endfor %}
     
          <div class="color">
               <form  method="POST" enctype="multipart/form-data">
               
                    {% csrf_token %}
                    <div>
                         <p class="lib">Numéro d'ordre</p>
                         {{ form.num_ordre  }}
                    </div>
                    <div>
                         <p class="lib">Choisir le thème du mémoire</p>
                         {{ form.theme  }}
                    </div>
                    <div>
                         <p class="lib">Titre du mémoire</p>
                         {{ form.titre  }}
                    </div>
                    <div>
                         <p class="lib">Brève description du mémoire</p>
                         {{ form.description  }}
                    </div>
     
                    <div>
                         <p class="lib">Choisir le fichier(mémoire) à déposer</p>
                         {{ form.media  }}
                    </div>
          </div>
               
               {% if etudiant.deposer == True %}
               <center>
                    <input style="font-family: Cambria; background-color: rgb(139, 139, 253); margin-bottom: 20px; width: 45%; border-radius: 25px;" class="depot" type="submit" value="Déposer">
               </center>
               {% else %}
               <center>
                    <input style="font-family: Cambria; background-color: rgb(139, 139, 253); margin-bottom: 20px; width: 45%; border-radius: 25px;" class="depot" type="submit" value="Déposer" disabled=True>
               </center>
               {% endif %}

               
          </form>
          
          
          </div> 

          {% endblock %} 

     </main>

     {% include 'footer.html' %}