{% include 'base.html' with profile="etudiant/profile" home="etudiant"%}
{% load static %}

  <main>
    {% block content %}

   <div class="block">
    <div class="libellee">Que voulez-vous faire ?</div>

    <div class="choix1">
      <a href="./rechercher" class="c1">1</a>
      <a href="./rechercher" class="recherche">Rechercher un mémoire</a>
    </div>

    <div class="choix2">
      <a href="./etudiant/deposer/" class="c1">2</a>
      <a href="./etudiant/deposer/" class="depot">Déposer un mémoire</a>
    </div>
   </div>

   {% endblock %} 

  </main>

{% include 'footer.html' %}