{% if is_admin == True %}
  {% include 'base.html' with profile="/aky/admin/profile" home="/aky/admin" %}
{% else %}
  {% include 'base.html' with profile="/aky/etudiant/profile" home="/aky/etudiant" %}
{% endif %}{% load static %}

<style>

	body{
		margin-bottom: 0;
	}

	.blocprincipal{
		background-color: rgb(177, 177, 126); 
		font-family: Cambria;
		margin: 24px 250px;
		padding: 6px 0px;
	}

	.profile{
		background-color: white;
		width: 60px;
		padding: 1px;
		border-radius: 50%;
	}

	.username{
		margin-top: 2px;
		font-style: italic;
	}

	.form-control{
		width: 400px;
		height: 30px;
		border-radius: 15px;
		border: none;
		margin: 10px;
		padding-left: 15px;
		font-size: 17px;
		background-color: aliceblue;
		font-family: cambria;
	}

	.libelle{
		font-size: large;
	}

</style>

<body>
	<center class="blocprincipal">
		<div class="">
			<h1 class="">Paramètres du compte</h1>
			<div class="">
				<div class="">
					<div class="">
						<div class="">
							<img src="{{ user.photo_profile.url }}" alt="Image" class="profile">
						</div>
						<h4 class="username">{{ user.username }}</h4>
					</div>
				</div>
				<div class="">
					<div class="">
						<div style="border: 1px solid white; opacity:0.2; margin-top: -10px; margin-bottom: 10px;"></div>
						<form action="profile" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="row">
								{% if is_admin == False %}
								<div class="col-md-12">
									<div class="form-group">
									  	<label class="libelle" style="padding: 0px 50px 0px 0px;">N° carte</label>
									  	<input type="text" class="form-control" value="{{ profile.no_carte }}" disabled>
									</div>
								</div>
								{% else %}
								<div class="col-md-12">
									<div class="form-group">
									  	<label class="libelle" style="padding: 0px 68px 0px 0px;">Titre</label>
									  	<input type="text" class="form-control" value="{{ profile.titre }}" disabled>
									</div>
								</div>
								{% endif %}
								<div class="">
									<div class="form-group">
									  	<label class="libelle" style="padding: 0px 44px 0px 0px;">Prénoms</label>
									  	<input type="text" class="form-control" value="{{ user.first_name }}" disabled>
									</div>
								</div>
								<div class="">
									<div class="form-group">
									  	<label class="libelle" style="padding: 0px 72px 0px 0px;">Nom</label>
									  	<input type="text" name="lastname" class="form-control" value="{{ user.last_name }}" disabled>
									</div>
								</div>
								<div class="">
									<div class="form-group">
									  	<label class="libelle" style="padding: 0px 66px 0px 0px;">Email</label>
									  	<input type="text" name="email" class="form-control" value="{{ user.email }}" disabled>
									</div>
								</div>
								<div class="">
									<div class="form-group">
										<label class="libelle" style="padding: 0px 5px 0px 0px;">Etablissement</label>
										<input type="text" class="form-control" value="{{ etablissement.libelle }}" disabled>
									</div>
								</div>
								{% if is_admin == False %}
								<div class="">
									<div class="form-group">
									  	<label class="libelle" style="padding: 0px 47px 0px 0px;">Parcours</label>
										<input type="text" class="form-control" value="{{ parcours.libelle }}" disabled>
									</div>
								</div>
								{% else %}
									{% for parc in parcours %}
									<div class="">
										<div class="form-group">
											<label class="libelle" style="padding: 0px 30px 0px 0px;">Parcours {{ parc.num }}</label>
											<input type="text" class="form-control" value="{{ parc.libelle }}" disabled>
										</div>
									</div>
									{% endfor %}
								{% endif %}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</center>
</body>

{% include 'footer.html' %}