{% if is_admin == True %}
  {% include 'base.html' with profile="/aky/admin/profile" home="/aky/admin" %}
{% else %}
  {% include 'base.html' with profile="/aky/etudiant/profile" home="/aky/etudiant" %}
{% endif %}

{% load static %}
<link rel="stylesheet" href="{% static 'recherche.css' %}">

<main>

  {% block content %}

<div class="d0">
  <button class="a1" id="filter">
    <img src="{% static 'application_web_aky/images/filtre.png' %}" alt="" class="filtre">
    <div class="textefiltre">Filtrer</div>
  </button>

  <form class="form-search " method="POST" action="./">
    {% csrf_token %}
    <input type="text" placeholder="Rechercher..." name="mot_cle">
    {% for memoire in memoires %}
      <input type="hidden" name="precedent" value={{memoire.id}}>
    {% endfor %}
    <button type="submit">Soumettre</button>
  </form>

  <div class="resultat">
    {% if resultats > 1 %}
       {{resultats}} résultats
    {% else %}
       {{resultats}} résultat
    {% endif %}
  </div>
</div>

  <div class="flex">

    <div>
      <a href="?all=True">
            <button class="consulter-btn">Tous</button>
      </a>
      <form class="tform hidden"  id="filter-form" method="POST" action="./">
        {% csrf_token %}
        <fieldset class="tbloc">
          <legend>Année</legend>
          <label><input type="checkbox" name="annee" value="2021"> 2021</label><br>
          <label><input type="checkbox" name="annee" value="2022"> 2022</label><br>
          <label><input type="checkbox" name="annee" value="2023"> 2023</label><br>
        </fieldset>
        <fieldset class="tbloc">
          <legend>Parcours</legend>
          <label><input type="checkbox" name="parcours" value="génie logiciel"> Génie logiciel</label><br>
          <label><input type="checkbox" name="parcours" value="génie mecanique"> Génie mécanique</label><br>
          <label><input type="checkbox" name="parcours" value="big data"> Big data</label><br>
        </fieldset>
        <fieldset class="tbloc">
          <legend>Thème</legend>
          <label><input type="checkbox" name="theme" value="santé"> Santé</label><br>
          <label><input type="checkbox" name="theme" value="economie"> Économie</label><br>
          <label><input type="checkbox" name="theme" value="agriculture"> Agriculture</label><br>
          <label><input type="checkbox" name="theme" value="transport"> Transport</label><br>
          <label><input type="checkbox" name="theme" value="education"> Education</label><br>
        </fieldset>
        <center>
          <input class="tbouton" type="submit" value="Appliquer">
        </center>
        {% for memoire in memoires %}
          <input type="hidden" name="precedent" value={{memoire.id}}>
        {% endfor %}
      </form>

    </div>

    <div>
      <main>
        {% for memoire in memoires %}
        <div class="d1">
          <img src="{% static 'application_web_aky/images/pdflogo.png' %}" alt="" class="imemoire">
          
          <div class="meminfo" style="margin-right: 3%;">
            <p class="block"><span>Numéro d'ordre du mémoire</span>: {{memoire.num_ordre}} </p>
            <p class="block"><span>Auteur du mémoire</span>: {{memoire.auteur}} </p>
            <p class="block"><span>Titre du mémoire</span>: {{memoire.titre}} </p>
            <p class="block"><span>Brève description du projet</span>: {{memoire.description | truncatewords:20}}</strong></p>
          </div>
          {% comment "" %}
          <button class="consulter-btn">
            <a href="#">Consulter</a>
          </button>
          {% endcomment %}
        
          <a href="/aky/consulter/{{memoire.id}}">
            <button class="consulter-btn">Consulter</button>
          </a>
        </div>
        {% endfor %}
      </main>
    </div>

  </div>
  
  <script>
    const filterButton = document.getElementById('filter');
    const filterForm = document.getElementById('filter-form');

    filterButton.onclick=(e)=>{
      filterForm.classList.toggle("hidden");
    }
  </script>
  {% endblock %}

  
</main>
{% include 'footer.html' %}