{% if is_admin == True %}
  {% include 'base.html' with profile="/aky/admin/profile" home="/aky/admin" %}
{% else %}
  {% include 'base.html' with profile="/aky/etudiant/profile" home="/aky/etudiant" %}
{% endif %}

{% load static %}

<main>

  {% block content %}

  <style>
    .a1 {
      display: flex;
      border: 1px rgb(165, 163, 161) solid;
      margin: 1% 2% 1% 2%;
      padding: 1.5%;
    }

    .a1:hover {
      background-color: rgb(155, 155, 252);
    }

    .a2 {
      display: flex;
      border: 1px rgb(165, 163, 161) solid;
      margin: 1% 2% 1% 25px;
      padding: 1%;
    }

    .d1 {
      display: flex;
      border-bottom: 1px solid rgb(194, 193, 191);
    }

    .d0{
      display: flex;
      border-bottom: 1px solid rgb(194, 193, 191);
    }

    .filtre {
      height: 35px;
    }

    .textefiltre {
      margin-left: 10px;
      color: black;
      padding-top: 7px;
      font-size: 20px;
    }

    .resultat {
      margin-left: 28%;
    }

    .form-search{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20%;
      margin-top: 10px;
    }

    input[type="text"] {
      padding: 8px;
      font-family: Cambria;
      border: none;
      height: 57px;
      background-color: rgb(175, 175, 174);
      border-radius: 4px 0 0 4px;
      font-size: larger;
      width: 270px;
    }

    button[type="submit"] {
      font-family: Cambria;
      padding: 8px 16px;
      background-color: rgb(139, 139, 253);
      color: black;
      border: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      font-size: larger;
      height: 57px;
    }

    .imemoire {
      height: 3cm;
      width: 3cm;
    }

    .a2:hover {
      background-color: rgb(139, 139, 253);
    }

    .block {
      font-family: Arial, Helvetica, sans-serif;
    }

    .flex {
      display: flex;
    }

    .tform {
      /* width: 14%; */
      padding: 1%;
      font-family: Arial;
      padding-bottom: 15%;
      border: 2px solid black;
    }

    .tbouton {
      padding: 3% 7%;
      background-color: #6d7fe6;
      color: white;
      font-weight: bold;
      font-family: Arial;
      border: none;
      border-radius: 5px;

    }

    .tbouton:hover {
      background-color: blue;
    }

    .hidden{
      display: none;
    }
    
  </style>

<div class="d0">
  <button class="a1" id="filter">
    <img src="{% static 'application_web_aky/images/filtre.png' %}" alt="" class="filtre">
    <div class="textefiltre">Filtrer</div>
  </button>

  <form class="form-search ">
    <input type="text" placeholder="Rechercher...">
    <button type="submit">Soumettre</button>
  </form>

  <div class="resultat"><br><br><br><br><br> 11 résultats</div>
</div>

  <div class="flex">

    <div>
      <form class="tform hidden"  id="filter-form">
<!--       <p class="text">Composer votre filtre !</p>
 -->
        <fieldset class="tbloc" style="margin-bottom: 10%;">
          <legend>Année</legend>
          <label><input type="checkbox" name="annee" value="2021"> 2021</label><br>
          <label><input type="checkbox" name="annee" value="2022"> 2022</label><br>
          <label><input type="checkbox" name="annee" value="2023"> 2023</label><br>
        </fieldset>
        <fieldset class="tbloc" style="margin-bottom: 10%;">
          <legend>Parcours</legend>
          <label><input type="checkbox" name="parcours" value="genie logiciel"> Génie logiciel</label><br>
          <label><input type="checkbox" name="parcours" value="genie mecanique"> Génie mécanique</label><br>
          <label><input type="checkbox" name="parcours" value="big data"> Big data</label><br>
        </fieldset>
        <fieldset class="tbloc" style="margin-bottom: 10%;">
          <legend>Thème</legend>
          <label><input type="checkbox" name="theme" value="sante"> Santé</label><br>
          <label><input type="checkbox" name="theme" value="economie"> Économie</label><br>
          <label><input type="checkbox" name="theme" value="agriculture"> Agriculture</label><br>
        </fieldset>
        <center>
          <input class="tbouton" type="submit" value="Appliquer">
        </center>
      </form>

    </div>

    <div>
      <main>

        <div class="d1">
          <a href="#" class="a2">
            <img src="{% static 'application_web_aky/images/memoire1.png' %}" alt="" class="imemoire">
          </a>

          <div class="meminfo" style="margin-right: 3%;">
            <p class="block"><strong>Numéro d'ordre du mémoire:</strong> </p>
            <p class="block"><strong>Auteur du mémoire:</strong> </p>
            <p class="block"><strong>Titre du mémoire:</strong> </p>
            <p class="block"><strong>Brève description du projet: </strong></p>
          </div>

        </div>
        </div>

      </main>
    </div>

  </div>
  
  <script>
    const filterButton=document.getElementById('filter');
    const filterForm=document.getElementById('filter-form');

    console.log(filterButton);
    filterButton.onclick=(e)=>{
      filterForm.classList.toggle("hidden");
    }
  </script>
  {% endblock %}

  
</main>
{% include 'footer.html' %}